<html lang="en-US>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Template 17 OBAL (EB)</title>
</head>
<body style="width:595px;height:842px;font-family: Calibri;size:7in 9.25in;overflow-y:auto;padding-top:6px;padding-bottom:6px;">
    <table style="width:100%">
		<tbody>
			<tr>
				<td>
					<div style="width:100%;">
						<img src="D:\E-STATEMENT\INTERFACE\FILES\BODY\logo.png" style="width:60%; margin-left: -60px; margin-bottom: 50px;">
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div style="width:100%;">
						<center><strong>LEMBAR TAGIHAN</strong></center>
						<center><strong>BILLING STATEMENT</strong></center>
					</div>
				</td>
			</tr>
            <tr>
                <td>
                    <div style="width:100%;margin-top: 30px;">
                        <table border="0" style="width:100%;">
                            <tbody>
                                <tr style="font-size:10pt;">
									<td style="width:10px">No</td>
									<td align="center" style="width:3px;">:</td>
									<td>[No_Surat]</td>
								</tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
			<tr>
                <td>
                    <div style="width:100%;">
                        <table border="1" style="width:100%;border: 1px solid black;border-collapse: collapse;">
                            <tbody>
                                <tr>
									<td rowspan="12" style="width: 40%; vertical-align: top;">
										<table border="0" style="width:100%;">
											<tbody>
												<tr style="font-size:10pt;">
													<td>Kepada Yth,</td>
												</tr>
												<tr style="font-size:10pt;">
													<td><i>To,</i></td>
												</tr>
												<tr style="font-size:10pt;">
													<td>[Nama_Manajer_Investasi]</td>
												</tr>
												<tr style="font-size:10pt;">
													<td>&nbsp;</td>
												</tr>
												<tr style="font-size:10pt;">
													<td>[Alamat_1]</td>
												</tr>
												<tr style="font-size:10pt;">
													<td>[Alamat_2]</td>
												</tr>
												<tr style="font-size:10pt;">
													<td>[Alamat_3]</td>
												</tr>
												<tr style="font-size:10pt;">
													<td>[Alamat_4]</td>
												</tr>
												<tr style="font-size:10pt;">
													<td>&nbsp;</td>
												</tr>
												<tr style="font-size:10pt;">
													<td>[UP]</td>
												</tr>
												<tr style="font-size:10pt;">
													<td>&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 20%; background-color: gainsboro;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td><strong>Statement<br/>Date</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 20%; background-color: gainsboro;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td><strong>Period<br/>&nbsp;</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 20%; background-color: gainsboro;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td><strong>Payment Due<br/>Date</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td style="width: 20%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td>[Statement_Date]</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 20%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td>[Period]</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 20%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td>[Payment_Due_Date]</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td align="center" colspan="3" style="width: 20%; font-size:10pt;background-color: gainsboro;">
										<strong>Payment Method</strong>
									</td>
								</tr>
								<tr>
									<td colspan="3">
										<table border="0" style="width:100%;">
											<tbody>
												<tr style="font-size:10pt;">
													<td colspan="3">Didebet dari Rekening dibawah ini</td>
												</tr>
												<tr style="font-size:10pt;">
													<td colspan="3"><i>Debit from the account below :</i></td>
												</tr>
												<tr style="font-size:10pt;">
													<td colspan="3">&nbsp;</td>
												</tr>
												<tr style="font-size:10pt; width: 100%;">
													<td style="width:16%">a/c Name</td>
													<td align="center" style="width:1%;">:</td>
													<td>[AC_Name]</td>
												</tr>
												<tr style="font-size:10pt; width: 100%">
													<td style="width:16%">a/c No</td>
													<td align="center" style="width:1%;">:</td>
													<td>[AC_No]</td>
												</tr>
												<tr style="font-size:10pt;">
													<td colspan="3">PT Bank Danamon Indonesia, Tbk</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
			<tr>
                <td>
                    <div style="width:100%;margin-top:10px;">
                        <table border="0" style="width:100%;">
                            <tbody>
                                <tr style="font-size:10pt;">
									<td>Bersama ini kami sampaikan tagihan Jasa KSEI untuk [Nama Nasabah]</td>
								</tr>
								<tr style="font-size:10pt;">
									<td><i>Please find the KSEI Fee info [Nama Nasabah]</i></td>
								</tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
			<tr>
                <td>
                    <div style="width:100%;margin-top:10px;">
                        <table border="1" style="width:100%;border: 1px solid black;border-collapse: collapse;">
                            <tbody>
                                <tr>
									<td colspan="2" style="width: 30%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td><strong>Jenis Transaksi<br/><i>Type of Transaction</i></strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 20%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td><strong>Nilai Frekuensi<br/><i>Value Frequency</i></strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 15%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td><strong>Tarif<br/><i>Fee</i></strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 35%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td><strong>Nilai Tagihan<br/><i>Amount Due</i></strong></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td style="width: 5%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td><strong><i>1</i></strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 25%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td><strong>KSEI Fee – Transaction</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 20%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td><i>[Frekuensi]</i></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 15%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td>Rp.[Fee]</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 35%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt; width: 100%">
													<td align="left" style="width:10%">IDR</td>
													<td align="right"><i>[Amount KSEI Trx]</i></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td style="width: 5%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td><strong><i>2</i></strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 25%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td><strong>KSEI Fee – Safekeeping</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 20%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td>&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 15%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td>(As Invoiced)</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 35%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt; width: 100%">
													<td align="left" style="width:10%">IDR</td>
													<td align="right"><i>[Amount KSEI SK]</i></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td colspan="4">
										<table border="0" style="width:100%; margin-left: 2%;">
											<tbody align="center">
												<tr align="left" style="font-size:10pt;">
													<td><strong>Total</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 35%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt; width: 100%">
													<td align="left" style="width:10%"><strong><i>IDR</i></strong></td>
													<td align="right"><strong><i>[TOTAL]</i></strong></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
			<tr>
                <td>
                    <div style="width:100%;margin-top:10px;">
                        <table border="0" style="width:100%;">
                            <tbody>
                                <tr style="font-size:10pt;">
									<td>Untuk pertanyaan lebih lanjut, silahkan hubungi Custody Operations, phone (021) 80645000 ext 1070</td>
								</tr>
								<tr style="font-size:10pt;">
									<td><i>For futher information, please contact The Custody Operations, phone (021) 80645000 ext 1070</i></td>
								</tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
			<tr>
                <td>
                    <div style="width:100%;margin-top:20px;">
                        <table border="0" style="width:100%;">
                            <tbody>
                                <tr style="font-size:10pt;">
									<td>Hormat kami,</td>
								</tr>
								<tr style="font-size:10pt;">
									<td><i>Sincerely Yours,</i></td>
								</tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
			<tr>
                <td>
                    <div style="width:100%;margin-top:40px;">
                        <table border="0" style="width:100%;">
                            <tbody>
                                <tr style="font-size:10pt;">
									<td>Bank Kustodian Danamon</td>
								</tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
			<tr>
                <td>
                    <div style="width:100%;margin-top:20px;">
                        <table border="0" style="width:100%;">
                            <tbody>
                                <tr style="font-size:10pt;">
									<td>Lembar Tagihan ini diproses oleh komputer dan tidak memerlukan tanda tangan</td>
								</tr>
								<tr style="font-size:10pt;">
									<td><i>This billing statement is computer generated and no signature is required</i></td>
								</tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
		</tbody>
	</table>
	<!-- Footer -->
	<footer style="position:relative; bottom:-150px; width:100%; font-size:80%; display:block">
		<table style="width:100%">
			<tbody style="width:100%;">
				<tr>
					<td>
						<tr style="font-size:10pt;">
							<td style="padding-left: 5%; color: gray;">PT Bank Danamon Indonesia, Tbk.</td>
						</tr>
						<tr>
							<td>
								<div style="width:100%;">
									<img src="D:\E-STATEMENT\INTERFACE\FILES\BODY\footer.png" style="width:110%; margin-left:-50px;">
								</div>
							</td>
						</tr>
					</td>
				</tr>
			</tbody>
		</table>
	</footer>
</body>
</html>