<html lang="en-US>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Template IIG</title>
</head>
<body style="width:595px;height:842px;font-family: Calibri;size:7in 9.30in;overflow-y:auto;padding-top:6px;padding-bottom:6px;">
    <table style="width:100%">
		<tbody>
			<tr>
				<td>
					<div style="width:100%;">
						<img src="D:\E-STATEMENT\INTERFACE\FILES\BODY\logo.png" style="width:60%; margin-left: -60px; margin-bottom: 50px;">
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div style="width:100%;">
						<center><strong>BILLING STATEMENT</strong></center>
					</div>
				</td>
			</tr>
            <tr>
                <td>
                    <div style="width:100%;margin-top: 30px;">
                        <table border="0" style="width:100%;">
                            <tbody>
                                <tr style="font-size:10pt;">
									<td style="width:3%">No</td>
									<td align="center" style="width:1%; height: -50px;">:</td>
									<td style="width:75%">[No_Surat]</td>
									<td align="center" style="font-size: medium;"><strong>DUPLICATE</strong></td>
								</tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
			<tr>
                <td>
                    <div style="width:100%;">
                        <table border="0" style="width:100%;border: 1px solid black;border-collapse: collapse;">
                            <tbody>
                                <tr>
									<td rowspan="12" style="width: 40%; vertical-align: top;">
										<table border="0" style="width:100%;">
											<tbody>
												<tr style="font-size:10pt;">
													<td>To,</td>
												</tr>
												<tr style="font-size:10pt;">
													<td>[Investation_Manager_Name]</td>
												</tr>
												<tr style="font-size:10pt;">
													<td>&nbsp;</td>
												</tr>
												<tr style="font-size:10pt;">
													<td>[Address_1]</td>
												</tr>
												<tr style="font-size:10pt;">
													<td>[Address_2]</td>
												</tr>
												<tr style="font-size:10pt;">
													<td>[Address_3]</td>
												</tr>
												<tr style="font-size:10pt;">
													<td>[Address_4]</td>
												</tr>
												<tr style="font-size:10pt;">
													<td>&nbsp;</td>
												</tr>
												<tr style="font-size:10pt;">
													<td>[Attention]</td>
												</tr>
												<tr style="font-size:10pt;">
													<td>&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td rowspan="12" style="width: 40%; vertical-align: top;">
										<table border="0" style="width:100%;">
											<tbody>
												<tr style="font-size:10pt;">
													<td>&nbsp;</td>
												</tr>
												<tr style="font-size:10pt;">
													<td>[Nama_Manajer_Investasi]</td>
												</tr>
												<tr style="font-size:10pt;">
													<td>&nbsp;</td>
												</tr>
												<tr style="font-size:10pt;">
													<td>[Alamat_1]</td>
												</tr>
												<tr style="font-size:10pt;">
													<td>[Alamat_2]</td>
												</tr>
												<tr style="font-size:10pt;">
													<td>[Alamat_3]</td>
												</tr>
												<tr style="font-size:10pt;">
													<td>[Alamat_4]</td>
												</tr>
												<tr style="font-size:10pt;">
													<td>&nbsp;</td>
												</tr>
												<tr style="font-size:10pt;">
													<td>[UP]</td>
												</tr>
												<tr style="font-size:10pt;">
													<td>&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 20%; background-color: gainsboro;border: 1px solid black;border-collapse: collapse;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td><strong>Statement<br/>Date</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 20%; background-color: gainsboro;border: 1px solid black;border-collapse: collapse;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td><strong>Payment Due<br/>Date</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td style="width: 20%;border: 1px solid black;border-collapse: collapse;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td>[Statement_Date]</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 20%;border: 1px solid black;border-collapse: collapse;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td>[Payment_Due_Date]</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td align="center" colspan="2" style="width: 20%; font-size:10pt;background-color: gainsboro;border: 1px solid black;border-collapse: collapse;">
										<strong>Payment Method</strong>
									</td>
								</tr>
								<tr>
									<td colspan="2" style="border: 1px solid black;border-collapse: collapse;">
										<table border="0" style="width:100%;">
											<tbody>
												<tr style="font-size:10pt;">
													<td colspan="3">Please transfer to :</td>
												</tr>
												<tr style="font-size:10pt; width: 100%;">
													<td style="width:35%">Acc. Name</td>
													<td align="center" style="width:1%;">:</td>
													<td>[AC_Name]</td>
												</tr>
												<tr style="font-size:10pt; width: 100%">
													<td style="width:35%">Acc. Number</td>
													<td align="center" style="width:1%;">:</td>
													<td>[AC_No]</td>
												</tr>
												<tr style="font-size:10pt; width: 100%">
													<td style="width:35%">Bank</td>
													<td align="center" style="width:1%;">:</td>
													<td>[Bank]</td>
												</tr>
												<tr style="font-size:10pt; width: 100%">
													<td style="width:35%">Corr Bank</td>
													<td align="center" style="width:1%;">:</td>
													<td>[Corr_Bank]</td>
												</tr>
												<tr style="font-size:10pt; width: 100%">
													<td style="width:35%">SWIFT Code</td>
													<td align="center" style="width:1%;">:</td>
													<td>[Swift_Code]</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
			<tr>
                <td>
                    <div style="width:100%;margin-top:10px;">
                        <table border="0" style="width:100%;">
                            <tbody>
								<tr style="font-size:10pt;">
									<td>Please find the Securities Services [Nama Nasabah] as Securities Agent for The Billing Statement as follows :</td>
								</tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
			<tr>
                <td>
                    <div style="width:100%;margin-top:10px;">
                        <table border="1" style="width:100%;border: 1px solid black;border-collapse: collapse;">
                            <tbody>
                                <tr>
									<td colspan="2" style="width: 45%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td><strong>Type of Transaction</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 10%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td><strong>Billing CCY</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 10%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td><strong>Items</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 20%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td><strong>Fee</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 15%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td><strong>Amount Due</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td style="width: 5%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td><strong>1</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 40%;">
										<table border="0" style="width:100%; margin-left: 1%;">
											<tbody align="center">
												<tr align="left" style="font-size:10pt;">
													<td><strong>Administration Set Up</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 10%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td>USD</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 10%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td>[Adm_Item]</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 20%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td>[Adm_Fee]</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 15%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt; width: 100%">
													<td>[Admin_Amount]</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td style="width: 5%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td><strong>2</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 40%;">
										<table border="0" style="width:100%; margin-left: 1%;">
											<tbody align="center">
												<tr align="left" style="font-size:10pt;">
													<td><strong>Signing Representation Fee</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 10%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td>USD</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 10%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td>[Sign_Item]</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 20%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td>[Sign_Fee]</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 15%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt; width: 100%">
													<td>[Sign_Amount]</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td style="width: 5%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td rowspan="2"><strong>3</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 40%;">
										<table border="0" style="width:100%; margin-left: 1%;">
											<tbody align="center">
												<tr align="left" style="font-size:10pt;">
													<td><strong>Security Agent Fee</strong></td>
												</tr>
												<tr align="left" style="font-size:9pt;">
													<td>Acc.Number C-Best&nbsp;:&nbsp;[Acc_No_C_Best]</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 10%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td rowspan="2">USD</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 10%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td rowspan="2">[Secur_Item]</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 20%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td rowspan="2">[Secur_Fee]</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 15%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt; width: 100%">
													<td rowspan="2">[Security_Amount]</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td style="width: 5%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td><strong>4</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 40%;">
										<table border="0" style="width:100%; margin-left: 1%;">
											<tbody align="center">
												<tr align="left" style="font-size:10pt;">
													<td><strong>Transaction Handling</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 10%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td>USD</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 10%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td>[Trx_Item]</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 20%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td align="left" style="width:25%">USD</td>
													<td align="right">[Trx_Fee]</td>
												</tr>
												<tr align="center" style="font-size:9pt;">
													<td colspan="2">per transaction</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 15%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt; width: 100%">
													<td>[Trx_Amount]</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td style="width: 5%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td><strong>5</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 40%;">
										<table border="0" style="width:100%; margin-left: 1%;">
											<tbody align="center">
												<tr align="left" style="font-size:10pt;">
													<td><strong>Safekeeping Fee [Period]</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 10%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td>USD</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 10%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td>[SK_Item]</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 20%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td>[SK_Fee]%</td>
												</tr>
												<tr align="center" style="font-size:9pt;">
													<td colspan="2">p.a each</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 15%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt; width: 100%">
													<td>[Trx_Amount]</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td style="width: 5%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td><strong>6</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 40%;">
										<table border="0" style="width:100%; margin-left: 1%;">
											<tbody align="center">
												<tr align="left" style="font-size:10pt;">
													<td><strong>Others</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 10%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td>&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 10%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td>[Other_Item]</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 20%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td align="left" style="width:25%">USD</td>
													<td align="right">[Other_Fee]</td>
												</tr>
												<tr align="center" style="font-size:9pt;">
													<td colspan="2">p.a each</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 15%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt; width: 100%">
													<td>[Other_Amount]</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td style="width: 5%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td><strong>&nbsp;</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 40%;">
										<table border="0" style="width:100%; margin-left: 1%;">
											<tbody align="center">
												<tr align="left" style="font-size:10pt;">
													<td><strong>Total (1-6)</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 10%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td>&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 10%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td>&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 20%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td>&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 15%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt; width: 100%">
													<td>[Total_1_6]</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td style="width: 5%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td><strong>7</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 40%;">
										<table border="0" style="width:100%; margin-left: 1%;">
											<tbody align="center">
												<tr align="left" style="font-size:10pt;">
													<td><strong>Tax</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 10%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td>&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 10%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td>&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 20%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td>[TAX_Pct]</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 15%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt; width: 100%">
													<td>[TAX_Amount]</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td style="width: 5%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td><strong>&nbsp;</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 40%;">
										<table border="0" style="width:100%; margin-left: 1%;">
											<tbody align="center">
												<tr align="left" style="font-size:10pt;">
													<td align="center"><strong>Total</strong></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 10%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td>USD</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 10%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td>&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 20%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt;">
													<td>&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 15%;">
										<table border="0" style="width:100%;">
											<tbody align="center">
												<tr style="font-size:10pt; width: 100%">
													<td>[Total_All]</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
			<tr>
                <td>
                    <div style="width:100%;margin-top:10px;">
                        <table border="0" style="width:100%;">
                            <tbody>
                                <tr style="font-size:10pt;">
									<td>For Further information, please contact  Custody Operations, phone (021) 8645000 Ext. 1070</td>
								</tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
			<tr>
                <td>
                    <div style="width:100%;margin-top:20px;">
                        <table border="0" style="width:100%;">
                            <tbody>
								<tr style="font-size:10pt;">
									<td>Sincerely Yours,</td>
								</tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
			<tr>
                <td>
                    <div style="width:100%;margin-top:40px;">
                        <table border="0" style="width:100%;">
                            <tbody>
                                <tr style="font-size:10pt;">
									<td>Bank Kustodian Danamon</td>
								</tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
			<tr>
                <td>
                    <div style="width:100%;margin-top:20px;">
                        <table border="0" style="width:100%;">
                            <tbody>
                                <tr style="font-size:10pt;">
									<td>This billing statement is computer generated and no signature is required</td>
								</tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
		</tbody>
	</table>
	<!-- Footer -->
	<footer style="position:relative; bottom:-150px; width:100%; font-size:80%; display:block">
		<table style="width:100%">
			<tbody style="width:100%;">
				<tr>
					<td>
						<tr style="font-size:10pt;">
							<td style="padding-left: 5%; color: gray;">PT Bank Danamon Indonesia, Tbk.</td>
						</tr>
						<tr>
							<td>
								<div style="width:100%;">
									<img src="D:\E-STATEMENT\INTERFACE\FILES\BODY\footer.png" style="width:110%; margin-left:-50px;">
								</div>
							</td>
						</tr>
					</td>
				</tr>
			</tbody>
		</table>
	</footer>
</body>
</html>